@model PontosTuristicos.Models.PontoTuristico 

@{
    ViewData["Title"] = "Adicionar Ponto Turístico";
}

<div class="modal-header">
    <h1>@ViewData["Title"]</h1>
</div>

<form asp-action="Add">
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <img style="width: 50%;" src="~/img/logo_ponto_turistico.png" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Nome</label>
                    <input type="text" name="nome" value="" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="col-form-label">UF</label>
                    <select class="custom-select">
                        <option value="value"></option>
                    </select>
                </div>

                <div class="col-md-10">
                    <label class="col-form-label">Cidade</label>
                    <input type="text" name="cidade" value="" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Referência</label>
                    <input type="text" name="referencia" value="" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Descrição</label>
                    <textarea class="form-control">
                    </textarea>
                </div>
            </div>           
        </div>
    </div>

    <div class="modal-footer" style="border: none;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">    
                    <a href="/Home/Index" style="text-decoration: none; color: white;" class="btn btn-secondary">Voltar</a>
                </div>

                <div class="col-md-6" style="text-align: right;">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>