@model PontosTuristicos.Models.PontoTuristico

@{
    ViewData["Title"] = "Editar Ponto Turístico";
}

<div class="modal-header">
    <h1>@ViewData["Title"]</h1>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <img style="width: 50%;" src="~/img/logo_ponto_turistico.png" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="col-md-10">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Referencia" class="control-label"></label>
                    <input asp-for="Referencia" class="form-control" />
                    <span asp-validation-for="Referencia" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="border: none;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Index" style="text-decoration: none; color: white;" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Voltar</a>
                </div>

                <div class="col-md-6" style="text-align: right;">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>