<div class="modal-header">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" src="~/img/logo_ponto_turistico.png" />
            </div>

            <div style="text-align: right; margin-top: 70px;" class="col-md-6">
                <a href="/PontoTuristico/Add" style="text-decoration: none; color: white;" class="btn btn-primary">Cadastrar um ponto turístico</a>
            </div>
        </div>
    </div>    
</div>

<div class="modal-body">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <input type="text" name="pesquisa" value="" placeholder="Digite um nome" class="form-control" style="" />
            </div>

            <div class="col-md-1">
                <input type="submit" name="buscar" value="Buscar" class="btn btn-secondary" />
            </div>
        </div>    
    </div>
</div>